.fieldP,
.fieldP:focus {
    outline: none !important;
    border: none !important;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 700;
    font-size: 16px;
    width: 100%;
}

input[type="password"] {
    font-family: var(--main-font)
}



.fieldP:focus::placeholder {
    color: transparent;
}

.password-container {
    border: var(--text-color) 1px solid !important;
    height: 50px !important;
    border-radius: 5px !important;
    background-color: var(--primary-color);
    display: flex;
    height: 50px;
    padding: 0px 8px 0px 21px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-left: 16px;
    margin-right: 16px;
    gap: 16px;
    width: 250px;
}

.password-img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 8px;
    stroke-width: 2px;
    opacity: 0.7;
}

.password-header {
    text-align: left;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
    padding-left: 16px;
}

::placeholder {
    color: var(--text-color);
}