.nav-bar-container {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    padding-left: 20px;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 0;
    height: 60px;
    margin-bottom: 25px;
}

.nav-bar-item:hover {
    z-index: 1;
    background-color: var(--background-color-secondary);
    cursor: pointer;
}

.nav-bar-item {
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 20px;

}

.nav-bar-link {
    color: var(--text-color);
    margin: 0px;
    font-size: 22.5px;
}