@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background-color: #c3bdb9;
  --background-color-secondary: #8c827f;
  --primary-color: #e1dedc;
  --text-color: #4d4033;
  --main-font: 'Open Sans', sans-serif;
  --radio-button-color: #8b6b78;
  --disabled-color: #75757b;
}

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}